/.direnv
/.git
/console/node_modules
/dist-newstyle
/server/tests-py/.hasura-dev-python-venv
/server/tests-py/.pytest-cache
/server/tests-py/__pycache__
/server/tests-py/node_modules

# Not needed for server Docker build
/v3
/docs
/frontend
/console
/rfcs
/assets
/community
/contrib
/dc-agents
/cli
/cli-ext
/translations
/install-manifests
/docker-compose
/architecture
/packaging
/releases
/scripts
/nix
